<div class="page-header">
	<h1>All Statuses</h1>
</div>


<div class="row">
  <%= simple_form_for(Status.new, html: {class: "form-horizontal"}) do |f| %>
  <div class="span3" align="left">
  <%= f.button :submit, "Post a New Status", class: "btn-success btn-large btn-block" %>
  </div>
  <div class="span7 pull-left">
  <%= f.input :content, label: false, placeholder: 'New status...', :input_html => {:maxlength =>140, :rows =>2} %>
  </div>
  <% end %>  
</div>

<% @statuses.reverse_each do |status| %>


<div class="well well-small">
  <div class="row">
    <div class = "span1">
      <img src="<%=status.user.gravatar_url%>" class="img-rounded">
    </div>
    <div class= "span8">
      <div class="status">
        <h4><strong><%= status.user.full_name %></strong></h4>
        <p><%= status.content%><hr ></p>
  	    <div class="meta">
  	      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
  	      <span class="admin">
            <% if status.user == current_user %>
  	        | <%= link_to "Edit", edit_status_path(status)%> |
  		      <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
  		    </span>
  	    </div>
      </div>
    </div>
  </div>
</div>
  
<% end %>